#fh1 {
    text-align: left;
    margin-left: 120px;
    margin-top: 10px;
}

.findmain {
    display: flex;
    flex-direction: row;
    //column-count: 3;
    height: 640px;
}
.pa0 {
    width: 120px;
}
.pa1, .pa2 {
    padding-top: 10px;
}
.pa1 {
    width: 50%;
}
.pa2 {
    width: 50%;
    margin-right: 50px;
}

.blk1, .blk2 {
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 90%;
    height: 90%;
    margin: 0px auto; /*para 내에서 중앙정렬*/
    transition: all 0.3s ease-out;
    background-color: #D9F4E7;
    border: 0.5px solid #E1E1E1;
}

.blk2 {
    position: relative;
    background-color: #D9F4E7;
}

#findmap {
    height: 450px;
    width: 85%;
    allowfullscreen: "";
    referrerpolicy: "no-referrer-when-downgrade";
}
