
h1 {
    text-align: left;
    margin-left: 120px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: row;
    //column-count: 4;
    height: 640px;
}


.para0 {
    width: 150px;
}

.para1, .para2, .para3 {
    width: 33%;
    padding-top: 10px;
}

.para1 {
}
.para2 {
    //background-color: black;
    padding-top: 7px;
}
.para3 {
}

section {
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 350px;
    margin: 0px auto; /*para 내에서 중앙정렬*/
    transition: all 0.3s ease-out;
}
section:hover {
    transform: translateY(-4px);

}



.block1 {
    background-color: #F2F9F6;
    height:95%;
}
#usrImg {
    height: 20px;
    width: auto;
}



.block2 {
    background-color: purple;
    height: 46%;
    margin-bottom: 20px;
}



.block3 {
    background: radial-gradient(#6E7270, #AEB4B2);
    height: 46%;
}
#b3txt {
    padding: 20px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    color: #303332;
    font-family: cursive;
}
#hosPic {
    margin-top: 5px;
}



.block4 {
    background-color: white;
    height: 95%;
    border: 0.5px solid #E1E1E1;
}
h2 {
    font-size: 30px;
    text-align: left;
    padding: 25px 25px 5px;
    margin-top: 0px;
}
fieldset {
    height: 320px;
    font-size:25px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: none;
}

#option {
    margin: 0px 0px;
    width: 90%;
    padding: 0px 5px 30px;
    text-align:left;
    //background-color: purple;
}

input[type='checkbox'] {
    width: 17px;
    height: 17px;
    accent-color: lightgreen;
    margin-right: 15px;
}

#addMed {
    font-size: 25px;
    color: grey;
    width: 345px;
    text-align: left;
    padding: 15px 30px 0px;
    border: none;
    background-color: transparent;
}
#addMed:hover { 
    color: black;
}
#saveMed {
    height: 45px;
    width: 160px;
    border-radius: 15px;
    border-width: 0px;
    border-color: grey;
    background-color: #70C3A7;
    font-size: 20px;
    margin: 15px 0px 5px;
}