
h1 {
    text-align: left;
    margin-left: 120px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: row;
    //column-count: 4;
    height: 640px;
}

.para0 {
    width: 150px;
}

.para1, .para2, .para3 {
    width: 33%;
    padding-top: 10px;
}

.para1 {
}
.para2 {
    //background-color: black;
    padding-top: 7px;
}

.para3 {
}

section {
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 350px;
    margin: 0px auto; /*para 내에서 중앙정렬*/
    transition: all 0.3s ease-out;
}
section:hover {
    transform: translateY(-4px);

}

.block1 {
    background-color: #F2F9F6;
    height:95%;
}
#usrImg {
    height: 20px;
    width: auto;
}

.block2 {
    background-color: purple;
    height: 46%;
    margin-bottom: 20px;
}

.block3 {
    background: radial-gradient(#6E7170, #8F9391);
    height: 46%;
}
#b3txt {
    padding: 20px 0px 0px;
    font-size: 40px;
}
#hosPic {
    margin-top: 5px;
}

.block4 {
    background-color: blue;
    height: 95%;
}