.menubar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: #528A28;
    color: #101010;
  }
  
  .menubar-logo a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #101010;
  }
  
  .menubar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menubar-menu li {
    margin-left: 20px;
  }
  
  .menubar-menu li a {
    text-decoration: none;
    color: #CAE3B7;
    font-size: 1.25rem;
  }
  
  .menubar-menu li a:hover {
    text-decoration: underline;
    font-size: 1.3rem;
  }
  