.App {
  text-align: center;
}

#logo {
  margin: 7px 35px;
  margin-right: auto;
  height: 70px; 
  width:70px;
  object-fit: contain;
}
.topLogo {
  height: 80px;
  border: none;
  display: flex;
}


.Bar {
  text-align: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
