.App {
  text-align: center;
}

.topLogo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8.5vh; 
  //border: 1px solid black;
  font-size: calc(10px + 2vmin);
  margin: 3px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: black;
  pointer-events: none;
}

.Bar {
  text-align: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
